---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import type { SliderProps } from '@/types/types';
import Button from '@/components/Button/Button.astro';
import '@/components/SliderBanner/sliderBanner.css';
import './slider.css';

const {
  id,
  content,
  imageLoading,

  variant,
  redirectTo,
  buttonText,
  outWeb,
}: {
  id?: string;
  content?: SliderProps;
  imageLoading?: 'eager' | 'lazy';
  variant?: string;
  redirectTo?: string;
  buttonText?: string;
  outWeb?: boolean;
} = Astro.props;
---

<section
  class={`slider-container overflow-hidden flex flex-col justify-center gap-y-11 h-[100dvh] ${variant}`}
>
  {
    content?.titleFollowUs && content?.titleInstagram ? (
      <header class='slider-instagram-header pointer-events-none text-center leading-loose text-white'>
        <h1 class='title-instagram text-4xl'>{content.titleFollowUs}</h1>
        <p class='title-follow-us text-6xl'>{content.titleInstagram}</p>
      </header>
    ) : null
  }
  <div
    class='my-slider'
    id={id}
    data-space-between={content?.spaceBetween ?? 12}
  >
    <div class='swiper-wrapper'>
      {
        content?.customImages.map((item) => {
          const isMeta =
            typeof item.image === 'object' &&
            item.image !== null &&
            'src' in item.image;

          return (
            <div class='swiper-slide max-h-[630px]'>
              {isMeta ? (
                <Image
                  class='h-full w-full object-cover'
                  src={item.image as ImageMetadata}
                  alt={item.alt ?? ''}
                  width={301}
                  height={456}
                  loading={imageLoading}
                />
              ) : (
                <Image
                  class='h-full w-full'
                  src={item.image as string}
                  alt={item.alt ?? ''}
                  width={301}
                  height={456}
                  loading={imageLoading}
                />
              )}
            </div>
          );
        })
      }
    </div>
  </div>

  <Button text={buttonText} href={redirectTo} isOutWeb={outWeb} />
</section>
